h1 {
    color: red;
}
#htext {
padding-top: 30px;
padding-bottom: 30px; 
}

.header {
    background-image: url(https://i.picsum.photos/id/537/2291/3450.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
